@charset "UTF-8";
body{
  margin: 0;
}
header{
  text-align: center;
  color:black;
  border: 1px solid red;
  background-color: red;
  padding: 10px;
}
.aaa{
  background-image: url(NAGIYANKI-.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-color: black;
}
.ccc a{
  text-decoration: none;
  color: white;
}
header p{
  text-align: center;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  width: 150px;
  font-weight: bold;
  background-color: black;
  color: white;
}
header .ccc{
  display: flex;
  justify-content: center;
}
.bbb{
  text-align: center;
  background-color: white;
}
.bbb video{
  border: 10px solid;
  border-image: linear-gradient(to right, #7f7fff, #7fff7f) 1;
  width: 60%;
  height: 60%;
}
.ttt a{
  text-align: center;
  text-decoration: none;
  color: pink;
  font-size: 25px;
  border: 5px solid black
  padding: 10px;
  background-color: black;
}
