@charset "UTF-8";
body{
  margin: 0;
}
.logo{
  background-image: url(logo.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}
header{
  text-align: center;
  color:black;
  border: 1px solid black;
  padding: 10px;
  background-color: black;
}
.aaa{
  background-image: url(NAGIYANKI-.png);
  background-repeat: no-repeat;
  background-size: 43%;
  background-position: center;
  background-color: black;
}
.ccc a{
  text-decoration: none;
  color: white;
}
header p{
  text-align: center;
  justify-content: center;
  border: 1px solid white;
  padding: 10px;
  margin: 5px;
  width: 150px;
  font-weight: bold;
  background-color: black;
  color: white;
}
header .ccc{
  display: flex;
  justify-content: center;
}
.bbb{
  text-align: center;
  background-color: black;
  padding-bottom: 100px;
}
.bbb video{
  border: 10px solid;
  border-image: linear-gradient(to right, red, yellow) 1;
  width: 40%;
  height: 40%;
}
.ttt a{
  text-align: center;
  text-decoration: none;
  color: pink;
  font-size: 25px;
  border: 5px solid black
  padding: 10px;
  background-color: black;
}
.img{
  width: 5%;
  height: 5%;
}
